*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(128, 213, 216);
  border-bottom: none;

}

body{
  background:rgb(20, 32, 28);
}

button{
  
  color: black;
}

input{
  width: 100%;
  font-size: 1.2rem;
  color: darkgray;
}

.Card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.boxImages{
  text-align: center;
  align-content: center;
 margin-left: 15px;
 margin-right: 15px;

}

.animate__animated.animate__rubberBand {
  --animate-duration: .5s;
}

.animate__animated.animate__slideInLeft{
  --animate-delay: 0.5s;
  --animate-duration: 1s;
}

.animate_animated.animate__shakeX{
  --animate-duration: 1s;
}